# debug
**/*.log

# deliverable
**/.next/
**/build/
**/dist/
**/out/

# dependency
**/node_modules/
**/.pnpm-store/

# env file
**/.env*
!**/.env.example

# storybook
**/.storybook/static/

# testing
**/coverage

# typescript
**/*.tsbuildinfo
